@model SalonVencanica.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Salon Vencanica", "List", "Product")
        <h3>Logovanje</h3>
    </div>

    <div class="panel-body">
        <p class="lead">
            Molimo Vas ulogujte se da pristupite administratorskoj sekciji:
        </p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Korisnicko ime:</label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Sifra:</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <input type="submit" value="Logovanje" class="btn btn-primary" />

        }
    </div>
</div>

