@model SalonVencanica.Domain.Entities.Cart

<div class="navbar-right">
    @Html.ActionLink("Na korpu", "index", "Cart", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-text navbar-right">
    <b>Vasa korpa:</b>
    @Model.Lines.Sum(x => x.Quantity) artikal(a),
    @Model.ComputeTotalValue().ToString("c")
</div>

